out/
.vscode-test/
node_modules/
artifacts/
dev/expl3.cwl
dev/unimathsymbols.txt
dev/cwl/
VERSION
.idea/
__pycache__/
.mypy_cache/
.pytest_cache/
.venv/
.vscode/.ropeproject
.eslintcache
test/fixtures/testground/
test/fixtures/multiroot/
test/fixtures/**/*.dvi
test/fixtures/**/*.log
test/fixtures/**/*.synctex*
test/fixtures/**/*.fdb_latexmk
test/fixtures/**/*.blg
test/fixtures/**/*.out
samples/sample/*.aux
samples/sample/*.fdb_latexmk
samples/sample/*.fls
samples/sample/*.log
samples/sample/*.pdf
test/log/
/*.vsix
.DS_Store
coverage/
